
h1{
  margin: 10%;
}


/* Wrapper for h1 og billede */
.headerWrapper {
  display: flex;
  align-items: center;
  position: relative; /* Containeren bliver referencen for positionering af skyIkon */
}

/* Sky ikonet  */
.skyIkon {
  position: absolute; /* Positioneret billedet i forhold til .headerWrapper */
  top: -30px; 
  right: 45px; /* Placerer billedet til højre for */
  z-index: -1; /* Sørger for, at billedet er bag teksten */
}


/* Underoverskrift */
.underOverskrift{
  margin: 0 0 1% 10%;
}

/* Ikon wrapper */
.ikonWrapper {
  height: 100px;
  display: flex;
  align-items: flex-end; /* Skubber ikon til bunden */
}

/* Ikoner */
.ikoner img {
  margin-top: auto;
  }


/* Styler eksemplerne*/
.eksempler {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}


/* Knap wrapper */
.knapWrapper {
  margin: 2rem;
  display: flex;
  justify-content: end;
}

/* Knap */
.knap {
  background-color: white;
  color: #000;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.3s ease;
}

.knap:hover {
  background-color: #eaeaea; /* lidt grå ved hover */
}



/* Responsivitet for mobil - når skærmstørrelsen er under 768px */
@media (max-width: 768px) {
 h1{
  font-size: 35px;
  margin-bottom: 120px;
 }
 
  /* Sky ikon */
  .skyIkon {
    display: none;
  }


  /* Eksempler */
  .eksempler {
    flex-wrap: wrap;
  }

  /* Knap-wrapper */
  .knapWrapper {
    margin-left: 0;
  }

  /* Knap */
  .knap {
    width: 80%; /* Gør knappen bredere på mobilen */
    padding: 20px 20.5px;
  }
}