
h1{
  margin: 10%;
}

.underOverskrift{
  margin: 0 10%;
}


.ikonWrapper {
  height: 100px; /* eller hvad der passer */
  display: flex;
  align-items: flex-end; /* Skubber ikon til bunden */
  justify-content: center;
}

.ikoner img {
    margin-top: auto; /* Skubber ikonerne ned til bunden */
  width: 80px;
  height: auto;
  }


/* Styler eksemplerne*/
.eksempler {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10%;
}



.knapWrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}


.knap {
  background-color: white;
  color: #000; /* sort tekst */
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid white;
  transition: 0.3s ease;
  display: inline-block;
}

.knap:hover {
  background-color: #eaeaea; /* lidt grå ved hover */
}