.hvtsek1 {
    margin-left: 100px;
    max-width: 1000px;
}


.kolonne {
    flex: 1;
    padding: 20px;
    border-right: 2px solid var(--skrift);
}

/* Fjerner stregen på sidste kolonne */
.kolonne:last-child {
    border-right: none;
  }

.hvtSek2 {
    display: flex;
    gap: 50px;
    padding-top: 200px;
}