.hvtsek1 {
    margin: 60px auto;
    max-width: 1000px;
    text-align: center;
    padding: 0 20px;
}


.kolonne {
    flex: 1;
    padding: 20px;
    min-height: 500px; /* så de får lidt højde også */
}

.hvtSek2 {
    display: flex;
    gap: 50px;
    padding-top: 200px;
}