.how-section {
    padding: 4rem 7rem;
  }
  /* På meget små enheder (f.eks. mobiltelefoner med skærme under 480px) */
@media (max-width: 480px) {
  .how-section {
    padding: 1rem 2rem; /* Yderligere justering af padding for små skærme */
  }
}
@media (max-width: 1100px) {
  .intro-image {
    display: none;
  }
}
  .how-intro {
    max-width: 1200px;
    margin: 0 auto 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .intro-text h1 {
    margin-bottom: 1rem;
  }
  
  .intro-text p {
    line-height: 1.6;
  }
  
  .intro-graphic {
    display: flex;
  }
  
  .how-steps {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  
  .step-row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .step-text h2 {
    margin-bottom: 1rem;
  }
  
  .step-text p {
    line-height: 1.6;
  }
  
  .step-graphic {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .step-video, .step-lottie {
    width: 100%; /* Fylder hele containerens bredde */
    height: auto; /* Bevarer forholdet mellem bredde og højde */
    max-width: 500px; /* Sætter en maks-bredde på videoer og Lottie-animatioer */
    max-height: 400px; /* Maks højde, du kan justere den efter behov */
  }
  
  .step-video {
    object-fit: cover; /* Sørger for at videoen fylder containeren korrekt */
  }
  
  .step-lottie {
    width: 100%; /* Fylder hele containerens bredde */
    height: auto; /* Bevarer forholdet mellem bredde og højde */
  }
  
  
  /* Responsivt layout */
  @media (min-width: 768px) {
    .how-intro {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  
    .step-row {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  
    .step-text, .step-graphic {
      width: 48%;
    }
  }

  
  