.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    color: var(--skrift);
  }

/* Venstre sektion (Tekst) */
.footerKolonne h2 {
    margin: 0;
}

.footerKolonne p {
    font-size: 4vw;
    font-weight: 250;
    margin: 10px 0 0;
}

/* Højre sektion (Links og kontakt) */
.kontakt {
    display: flex;
    flex-direction: column;
    width: 30%;
}

/* Giver linjerne samme bredde */
.kontakt a {
    text-decoration: none;
    color: var(--sk);
    font-size: 18px;
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--skrift); /* Ensartet linje */
    width: 100%;
}
