.navigation {
    display: flex;
    gap: 10px;
    color: white;
    padding-left: 10px;
}

.linktext {
    color: white;
}

.header{
  margin: 0% 4% 0% 2%;
}

  
  /* Styling for navigationen */
  .navigation {
    display: flex;  /* Flexbox layout */
    justify-content: space-between;  /* Afstand mellem logo og menu */
    align-items: center;  /* Centrer indhold vertikalt */
  }
  
  /* Logo sektion */
  .logoAnimation {
    width: 100px;    /* Sætter bredden på animationen */
    height: 100px;   /* Sætter højden på animationen */
    /* Eller du kan bruge procentdele for responsiv størrelse */
    /* width: 50%; height: auto; */
    margin: 0 auto;  /* Centrerer animationen horisontalt */
  }
  
  .logo {
    display: inline-block; /* Sørg for at linket er inline */
    padding: 10px; /* Tilføjer lidt padding, hvis nødvendigt */
  }

  
  /* Styler navigation links */
  .navLinks {
    display: flex;  /* Flex layout til menuen */
    gap: 30px;  /* Afstand mellem links */
    list-style: none;  /* Fjerner prikker fra liste */
  }
  
  .linktext {
    color: white;  
    text-decoration: none; 
    font-weight: bold;  
    font-size: 14px;  
  }
  
  /* Tilføjer hover-effekt på linksene */
  .linktext:hover {
    color: #ddd;  
  }
  