


.kontaktForm {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .inputRow {
    flex-direction: row;
    gap: 1rem;
  }
}

.inputFelt {
  border: 1px solid #FFFCF9;
  background-color: transparent;
  color: #FFFCF9;
  padding: 0.5rem;
  flex: 1;
}

.inputFelt::placeholder {
  color: var(--skrift);
}

textarea.inputFelt {
  resize: vertical;
  flex: 1;
  min-height: 300px;
}

.kontaktForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.kontaktKnap {
  background-color: var(--skrift);
  padding: 1rem 8rem; /* Øger størrelsen på knappen */
  border: none;
  cursor: pointer;
  width: auto;
  align-self: flex-end; /* Placerer knappen i højre side af formularen */
}
